@model  BoardApp.Models.Board


@{
    ViewBag.Title = "상세페이지";
    Layout = "~/Views/Shared/_t_sub_Layout.cshtml";
}

<section>
    <article>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header" id="detail-title">@Model.BoardTitle</h3>
            </div>

            <div class="col-lg-12" id="detail-panel-details">
                <span>작성자: @Model.BoardWriter </span><span>  |  </span><span>작성일: @Model.CreatedDate</span><span>  |  </span><span>조회수: @Model.ViewCount</span>
            </div>

            <div class="col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-body" id="detail-panel-contents">@Model.BoardContent</div>
                    <div class="panel-footer text-right">
                        <a class="btn btn-default" href="/Board/Update?BoardNo=@Model.BoardNo" />수정</a>
                        @*<a class="btn btn-warning" id="boardDelete-button" href="/Board/Delete?BoardNo=@Model.BoardNo">삭제</a>*@

                        <a class="btn btn-warning" id="boardDelete-button" data-no="@Model.BoardNo" @*href="/Board/Delete?BoardNo=@Model.BoardNo"*@>삭제</a>

                        <a class="btn btn-primary" href="/Board/Index">목록</a>
                    </div>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Model.BoardTitle
                            </div>
                            <div class="panel-body">
                                @Model.BoardContent
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-primary" href="/Board/Index">목록</a>
                        </div>
                    </div>
                </div>*@


        </div> <!--게시글 내용 end-->
        <!--댓글-->

        <div class="row">
            <div class="col-lg-12">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="commment-count">댓글 @Model.CommentCount 개</span>
            </div>
        </div>


        <div class="comment-view">

            <!--레벨1-->
            @*<div class="row comment-listRow" comment-no="{{CommentNo}}" board-no="{{BoardNo}}" comment-level="{{CommentLevel}}" comment-order="{{CommentOrder}}" flag="{{CommentFlag}}">
                    <div class="col-lg-12">
                        <span class="comment-writer">{{CommentWriter}}</span>
                        <span class="comment-createdDate">{{CreatedDateString}}</span>
                        <span class="comment-reply-button"><a href="#">답글</a></span>
                        <p class="comment-edit-button"><a href="#">수정</a><span> | </span><a href="#">삭제</a></p>
                    </div>
                    <div class="col-lg-12">
                        <p class="comment-body"><span class="comment-content">{{CommentContent}}</span></p>
                    </div>
                </div>*@

            <!--레벨2-->
            @*<div class="row comment-listRow indent-right" comment-no="{{CommentNo}}" board-no="{{BoardNo}}" comment-level="{{CommentLevel}}" comment-order="{{CommentOrder}}" flag="{{CommentFlag}}">
                    <div class="col-lg-12">
                        <span class="comment-writer">{{CommentWriter}}</span>
                        <span class="comment-createdDate">{{CreatedDateString}}</span>
                        <span class="comment-reply-button"><a href="#">답글</a></span>
                        <p class="comment-edit-button"><a href="#">수정</a><span> | </span><a href="#">삭제</a></p>
                    </div>
                    <div class="col-lg-12">
                        <p class="comment-body"><span class="comment-content">{{CommentContent}}</span></p>
                    </div>
                </div>*@

        </div>

        <form>
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-row">
                        <div class="form-group col-md-12" id="comment-addForm">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="comment-inputWriter">Name</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="comment-inputWriter" maxlength="5" placeholder="작성자">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="comment-inputPassword">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="comment-inputPassword" placeholder="비밀번호">
                                </div>
                            </div>

                            <div class="form-group row">
                                @*<label class="col-sm-2 col-form-label" for="inputPassword4">Password</label>*@
                                <div class="col-sm-11 comment-inputContent">
                                    <textarea type="text" class="form-control" id="comment-inputContent" placeholder="댓글을 입력하세요."></textarea>

                                </div>
                                    <div class="col-sm-1 comment-addButton">
                                        <a class="btn btn-warning" id="comment-add-btn" align="left" href="#">등록</a>
                                    </div>
                            </div>


                        </div>

                    </div>



                </div> <!--panelbody-->
            </div>
        </form>


    </article>
</section>


<!--Handlebars 템플릿-->
<script id="comment-template" type="text/x-handlebars-template">
    {{#each commentList}}
    <div class="row comment-listRow" 
         comment-no="{{CommentNo}}" 
         board-no="{{BoardNo}}" 
         origin-commentNo="{{OriginCommentNo}}"
         comment-level="{{CommentLevel}}" comment-order="{{CommentOrder}}" flag="{{CommentFlag}}">

        <div class="col-lg-12">
            <span class="comment-writer">{{CommentWriter}}</span>
            <span class="comment-createdDate"> {{CreatedDateString}}</span>
            <span class="comment-reply-button"><a class="comment-replyBtn" href="#">답글</a></span>
            <p class="comment-edit-button"><a href="#">수정</a><span> | </span><a href="#">삭제</a></p>
        </div>

        <div class="col-lg-12">
            <span class="comment-parentCommentWriter" parent-commentWriter="{{ParentCommentWriter}}">&commat;{{ParentCommentWriter}}</span>
            <p class="comment-body"><span class="comment-content">{{CommentContent}}</span></p>
        </div>

    </div>
    {{/each}}
</script>

<script id="comment-editor-template" type="text/html">
    <form>
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-row">
                    <div class="form-group col-md-12" id="comment-addForm">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="comment-inputWriter">Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="comment-inputWriter" maxlength="5" placeholder="작성자">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="comment-inputPassword">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="comment-inputPassword" placeholder="비밀번호">
                            </div>
                        </div>

                        <div class="form-group row">
                            @*<label class="col-sm-2 col-form-label" for="inputPassword4">Password</label>*@
                            <div class="col-sm-11 comment-inputContent">
                                <textarea type="text" class="form-control" id="comment-inputContent" placeholder="댓글을 입력하세요."></textarea>

                            </div>
                            <div class="col-sm-1 comment-addButton">
                                <a class="btn btn-warning" id="comment-add-btn" align="left" href="#">등록</a>
                            </div>
                        </div>


                    </div>

                </div>



            </div> <!--panelbody-->
        </div>
    </form>
</script>


